<!DOCTYPE html> 
<html long="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>footer</title>
        <link rel="stylesheet" href="../css/footer.css">
        <script src="https://kit.fontawesome.com/688d375bb1.js" crossorigin="anonymous"></script>
    

    </head>

    <footer>
        <div class="footer-content">
            <h1>CONTINENTAL RESTAURANT</h1>
            <P><h3>Dedicados a complacer el paladar de los ciudadanos del mundo</h3></P>
            <h2>SIGUENOS</h2>
            <ul class="socials">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>  
                </ul>
                <h2>CONTACTENOS</h2>
                <ul class="socials">
                    <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                    <li><a href="#"><i class="fa fa-phone"></i></a></li>
                 </ul>
           
        </div>
        <div class="footer-bottom">
            <p><h4>Copyright.Todos los derechos reservados.Grupo f. Mision Tic. 2022</h4></p>
        </div>
    </footer>





</html>