<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Continental</title>
    <link rel="shortcut icon" href="../img/Logo.png" />
    <link rel="stylesheet" href="../css/navbar.css" />
    <script src="https://kit.fontawesome.com/f4a6bbd578.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <a href="#" class="Logo">
        <img src="../img/Logo.png" />
        <h2 class="nombre-empresa">Continental</h2>
      </a>

      <nav>
        <a href="../index.php" class="nav-link">Inicio</a>
        <a href="Nosotros.html" class="nav-link">Nosotros</a>
        <a href="Productos.html" class="nav-link">Productos</a>
        <a href="" class="nav-link">Contáctanos</a>
      </nav>
    </header>

    <div class="banner">
      <div class="capa">
        <h1>Bienvenido a Continental</h1>
        <p>En vez de que visites el mundo, mejor que el mundo visite tu boca</p>
      </div>
    </div>
  </body>
</html>
