<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Continental</title>
    <link rel="shortcut icon" href="img/Logo.png" />
    <link rel="stylesheet" href="css/estilos.css" />
    <script src="https://kit.fontawesome.com/f4a6bbd578.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="pa">
      <img src="img/Banner4.jpeg" />

      <p>
        Somos una empresa familiar creada el 23 de agosto de 1997 , con alto conocimiento en la producción de comidas tipicas colombianas, japonesas e
        italianas, contamos con experiencia adquirida a través de los años que nos da el conocimiento para satisfacer las necesidades de nuestrso clientes, y
        así llegar a ustedes con la seguridad de poder ofrecerles nuestros productos de excelente calidad con responsabilidad y cumplimiento. Contamos con
        excelente calidad humana que brindar una atención apropiada y eficaz, para de esta manera poder llegar a saber y entender sus gustos y necesidades. El
        hecho de contar con ustedes como nuestros clientes es motivo de satisfacción. productos.
      </p>
    </div>
  </body>
</html>
