<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/promociones.css" />
  </head>
  <body>
    <div class="container">
      <div class="carousel">
        <input type="radio" id="carousel-1" name="carousel[]" checked />
        <input type="radio" id="carousel-2" name="carousel[]" />
        <input type="radio" id="carousel-3" name="carousel[]" />
        <input type="radio" id="carousel-4" name="carousel[]" />
        <input type="radio" id="carousel-5" name="carousel[]" />
        <ul class="carousel__items">
          <li class="carousel__item">
            <a class="cursor" href="../region_colombia.php"> <img src="../img/Promo-colombia.png" alt="" /></a>
          </li>
          <li class="carousel__item">
            <a class="cursor" href="../region_italia.php"><img src="../img/Promo-italia.png" alt="" /></a>
          </li>
          <li class="carousel__item">
            <a class="cursor" href="../region_japon.php"><img src="../img/Promo-japon.png" alt="" /></a>
          </li>
        </ul>
        <div class="carousel__prev">
          <label for="carousel-1"></label>
          <label for="carousel-2"></label>
          <label for="carousel-3"></label>
        </div>
        <div class="carousel__next">
          <label for="carousel-1"></label>
          <label for="carousel-2"></label>
          <label for="carousel-3"></label>
        </div>
        <div class="carousel__nav">
          <label for="carousel-1"></label>
          <label for="carousel-2"></label>
          <label for="carousel-3"></label>
        </div>
      </div>
    </div>
  </body>
</html>
