<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/regionesGenerales.css"/>
    <title>Italia</title>
</head>
<body>
    <main>
        <h1 class="Titulo_Italia">Bienvenido a Italia</h1>
        <section class="mosaice">
        <a href="https://api.whatsapp.com/send?phone=+573172915538&text=Hola,%20me%20gustaria%20hacer%20un%20pedido%20de%20Pizza%20*%3C%3CCantidad%3E%3E">
            <div class="producto_1">
                <img src="../img/pizza.png" alt="" class="producto1-img">
                <button class="producto_1--button">Ordenar pizza</button>
            </div>
        </a>
        <a href="https://api.whatsapp.com/send?phone=+573172915538&text=Hola,%20me%20gustaria%20hacer%20un%20pedido%20de%20Pizza%20*%3C%3CCantidad%3E%3E">
            <div class="producto_2">
                <img src="../img/Boloñesa.png" alt="" class="producto2-img">
                <button class="producto_2--button">Ordenar pasta boloñesa</button>
            </div>
        </a>
        <a href="https://api.whatsapp.com/send?phone=+573172915538&text=Hola,%20me%20gustaria%20hacer%20un%20pedido%20de%20Raviole%20*%3C%3CCantidad%3E%3E">
            <div class="producto_3">
                <img src="../img/raviole.png" alt="" class="producto3-img">
                <button class="producto_3--button">Ordenar raviole</button>
            </div>
        </a>
        <a href="https://api.whatsapp.com/send?phone=+573172915538&text=Hola,%20me%20gustaria%20hacer%20un%20pedido%20de%20Lasa%C3%B1a%20*%3C%3CCantidad%3E%3E">
            <div class="producto_4">
                <img src="../img/lasaña.png" alt="" class="producto4-img">
                <button class="producto_4--button">Ordenar lasaña</button>
            </div>
        </a>
        <a href="https://api.whatsapp.com/send?phone=+573172915538&text=Hola,%20me%20gustaria%20hacer%20un%20pedido%20de%20Ensalada%20Caprese%20*%3C%3CCantidad%3E%3E">
            <div class="producto_5">
                <img src="../img/caprese.png" alt="" class="producto5-img">
                <button class="producto_5--button">Ordenar ensalada caprese</button>
            </div>
        </a>
        <a href="https://api.whatsapp.com/send?phone=+573172915538&text=Hola,%20me%20gustaria%20hacer%20un%20pedido%20de%20Risotto%20*%3C%3CCantidad%3E%3E">
            <div class="producto_6">
                <img src="../img/risotto.png" alt="" class="producto6-img">
                <button class="producto_6--button">Ordenar risotto</button>
            </div>
        </a>
        </section>
    </main>
</body>
</html>