<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/regionesGenerales.css"/>
    <title>Japon</title>
</head>
<body>
    <main>
        <h1 class="Titulo_Japon">Bienvenido a Japon</h1>
        <section class="mosaic">
        <a href="https://api.whatsapp.com/send?phone=+573172915538&text=Hola,%20me%20gustaria%20hacer%20un%20pedido%20de%20Soba%20*%3C%3CCantidad%3E%3E">
            <div class="producto_1">
                <img src="../img/soba.png" alt="" class="producto1-img">
                <button class="producto_1--button">Ordenar soba</button>
            </div>
        </a>
        <a href="https://api.whatsapp.com/send?phone=+573172915538&text=Hola,%20me%20gustaria%20hacer%20un%20pedido%20de%20Ramen%20*%3C%3CCantidad%3E%3E">
            <div class="producto_2">
                <img src="../img/ramen.png" alt="" class="producto2-img">
                <button class="producto_2--button">Ordenar ramen</button>
            </div>
        </a>
        <a href="https://api.whatsapp.com/send?phone=+573172915538&text=Hola,%20me%20gustaria%20hacer%20un%20pedido%20de%20Takoyaki%20*%3C%3CCantidad%3E%3E">
            <div class="producto_3">
                <img src="../img/takoyaki.png" alt="" class="producto3-img">
                <button class="producto_3--button">Ordenar takoyaki</button>
            </div>
        </a>
        <a href="https://api.whatsapp.com/send?phone=+573172915538&text=Hola,%20me%20gustaria%20hacer%20un%20pedido%20de%20Tempura%20*%3C%3CCantidad%3E%3E">
            <div class="producto_4">
                <img src="../img/tempura.png" alt="" class="producto4-img">
                <button class="producto_4--button">Ordenar tempura</button>
            </div>
        </a>
        <a href="https://api.whatsapp.com/send?phone=+573172915538&text=Hola,%20me%20gustaria%20hacer%20un%20pedido%20de%20Sushi%20*%3C%3CCantidad%3E%3E">
            <div class="producto_5">
                <img src="../img/sushi.png" alt="" class="producto5-img">
                <button class="producto_5--button">Ordenar sushi</button>
            </div>
        </a>
        <a href="https://api.whatsapp.com/send?phone=+573172915538&text=Hola,%20me%20gustaria%20hacer%20un%20pedido%20de%20Udon%20*%3C%3CCantidad%3E%3E">
            <div class="producto_6">
                <img src="../img/udon.png" alt="" class="producto6-img">
                <button class="producto_6--button">Ordenar udon</button>
            </div>
        </a>
        </section>
    </main>
</body>
</html>