<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/regionesGenerales.css" />
    <title>Japon</title>
  </head>
  <body>
    <main>
      <h1 class="Titulo_Japon">Region Japon</h1>
      <section class="mosaico">
        <a
          href="https://api.whatsapp.com/send?phone=+573172915538&text=Hola,%20me%20gustaria%20hacer%20un%20pedido%20de%20Sobo,%20su%20c%C3%B3digo%20es:%20PROD_SOBO_13"
        >
          <div class="producto">
            <img src="../img/soba.png" alt="" class="producto1-img" />
            <div class="btn_compra">Ordenar soba</div>
          </div>
        </a>
        <a
          href="https://api.whatsapp.com/send?phone=+573172915538&text=Hola,%20me%20gustaria%20hacer%20un%20pedido%20de%20Ramen,%20su%20c%C3%B3digo%20es:%20PROD_RAMEN_14"
        >
          <div class="producto">
            <img src="../img/ramen.png" alt="" class="producto2-img" />
            <div class="btn_compra">Ordenar ramen</div>
          </div>
        </a>
        <a
          href="https://api.whatsapp.com/send?phone=+573172915538&text=Hola,%20me%20gustaria%20hacer%20un%20pedido%20de%20Takoyaki,%20su%20c%C3%B3digo%20es:%20PROD_TAKOYAKI_15"
        >
          <div class="producto">
            <img src="../img/takoyaki.png" alt="" class="producto3-img" />
            <div class="btn_compra">Ordenar takoyaki</div>
          </div>
        </a>
        <a
          href="https://api.whatsapp.com/send?phone=+573172915538&text=Hola,%20me%20gustaria%20hacer%20un%20pedido%20de%20Tempura,%20su%20c%C3%B3digo%20es:%20PROD_TEMPURA_16"
        >
          <div class="producto">
            <img src="../img/tempura.png" alt="" class="producto4-img" />
            <div class="btn_compra">Ordenar tempura</div>
          </div>
        </a>
        <a
          href="https://api.whatsapp.com/send?phone=+573172915538&text=Hola,%20me%20gustaria%20hacer%20un%20pedido%20de%20Sushi,%20su%20c%C3%B3digo%20es:%20PROD_SUSHI_17"
        >
          <div class="producto">
            <img src="../img/sushi.png" alt="" class="producto5-img" />
            <div class="btn_compra">Ordenar sushi</div>
          </div>
        </a>
        <a
          href="https://api.whatsapp.com/send?phone=+573172915538&text=Hola,%20me%20gustaria%20hacer%20un%20pedido%20de%20Udon,%20su%20c%C3%B3digo%20es:%20PROD_UDON_18"
        >
          <div class="producto">
            <img src="../img/udon.png" alt="" class="producto6-img" />
            <div class="btn_compra">Ordenar udon</div>
          </div>
        </a>
      </section>
    </main>
  </body>
</html>
