<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/regionesGenerales.css"/>
    <title>Colombia</title>
</head>
<body>
    <main>
        <h1 class="Titulo_Colombia">Bienvenido a Colombia</h1>
        <section class="mosaico">
            <a href="https://api.whatsapp.com/send?phone=+573172915538&text=Hola,%20me%20gustaria%20hacer%20un%20pedido%20de%20Bandeja%20Paisa%20*%3C%3CCantidad%3E%3E">
            <div class="producto_1">
                <img src="../img/Bandeja_Paisa.png" alt="" class="producto1-img">
                <button class="producto_1--button">Ordenar bandeja paisa</button>
            </div>
        </a>
        <a href="https://api.whatsapp.com/send?phone=+573172915538&text=Hola,%20me%20gustaria%20hacer%20un%20pedido%20de%20Ajiaco%20*%3C%3CCantidad%3E%3E">
            <div class="producto_2">
                <img src="../img/Ajiaco.png" alt="" class="producto2-img">
                <button class="producto_2--button">Ordenar ajiaco</button>
            </div>
        </a>
        <a href="https://api.whatsapp.com/send?phone=+573172915538&text=Hola,%20me%20gustaria%20hacer%20un%20pedido%20de%20Arepas%20*%3C%3CCantidad%3E%3E"> 
            <div class="producto_3">
                <img src="../img/Arepas.png" alt="" class="producto3-img">
                <button class="producto_3--button">Ordenar Arepas</button>
            </div>
        </a>
        <a href="https://api.whatsapp.com/send?phone=+573172915538&text=Hola,%20me%20gustaria%20hacer%20un%20pedido%20de%20Fritanga%20*%3C%3CCantidad%3E%3E">
            <div class="producto_4">
                <img src="../img/Fritanga.png" alt="" class="producto4-img">
                <button class="producto_4--button">Ordenar Fritanga</button>
            </div>
        </a>
        <a href="https://api.whatsapp.com/send?phone=+573172915538&text=Hola,%20me%20gustaria%20hacer%20un%20pedido%20de%20Sancocho%20*%3C%3CCantidad%3E%3E">
            <div class="producto_5">
                <img src="../img/Sancocho.png" alt="" class="producto5-img">
                <button class="producto_5--button">Ordenar Sancocho</button>
            </div>
        </a>
        <a href="https://api.whatsapp.com/send?phone=+573172915538&text=Hola,%20me%20gustaria%20hacer%20un%20pedido%20de%20Lechona%20*%3C%3CCantidad%3E%3E">
            <div class="producto_6">
                <img src="../img/Lechona.png" alt="" class="producto6-img">
                <button class="producto_6--button">Ordenar Lechona</button>
            </div>
        </a>
        </section>
    </main>
</body>
</html>