<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/regionesGenerales.css" />
    <title>Colombia</title>
  </head>
  <body>
    <main>
      <h1 class="Titulo_Colombia">Region Colombia</h1>
      <section class="mosaico">
        <a
          class="link"
          href="https://api.whatsapp.com/send?phone=+573172915538&text=Hola,%20me%20gustaria%20hacer%20un%20pedido%20de%20Bandeja%20Paisa%20*%3C%3CCantidad%3E%3E"
        >
          <div class="producto">
            <img src="../img/Bandeja_Paisa.png" alt="Bandeja Paisa" class="producto1-img" />
            <div class="btn_compra">Ordenar bandeja paisa</div>
          </div>
        </a>

        <a
          class="link"
          href="https://api.whatsapp.com/send?phone=+573172915538&text=Hola,%20me%20gustaria%20hacer%20un%20pedido%20de%20Ajiaco%20*%3C%3CCantidad%3E%3E"
        >
          <div class="producto">
            <img src="../img/Ajiaco.png" alt="Ajiaco" class="producto2-img" />
            <div class="btn_compra">Ordenar ajiaco</div>
          </div>
        </a>

        <a
          class="link"
          href="https://api.whatsapp.com/send?phone=+573172915538&text=Hola,%20me%20gustaria%20hacer%20un%20pedido%20de%20Arepas%20*%3C%3CCantidad%3E%3E"
        >
          <div class="producto">
            <img src="../img/Arepas.png" alt="Arepas" class="producto3-img" />
            <div class="btn_compra">Ordenar Arepas</div>
          </div>
        </a>

        <a
          class="link"
          href="https://api.whatsapp.com/send?phone=+573172915538&text=Hola,%20me%20gustaria%20hacer%20un%20pedido%20de%20Fritanga%20*%3C%3CCantidad%3E%3E"
        >
          <div class="producto">
            <img src="../img/Fritanga.png" alt="Fritanga" class="producto4-img" />
            <div class="btn_compra">Ordenar Fritanga</div>
          </div>
        </a>

        <a
          class="link"
          href="https://api.whatsapp.com/send?phone=+573172915538&text=Hola,%20me%20gustaria%20hacer%20un%20pedido%20de%20Sancocho%20*%3C%3CCantidad%3E%3E"
        >
          <div class="producto">
            <img src="../img/Sancocho.png" alt="Sancocho" class="producto5-img" />
            <div class="btn_compra">Ordenar Sancocho</div>
          </div>
        </a>

        <a
          class="link"
          href="https://api.whatsapp.com/send?phone=+573172915538&text=Hola,%20me%20gustaria%20hacer%20un%20pedido%20de%20Lechona%20*%3C%3CCantidad%3E%3E"
        >
          <div class="producto">
            <img src="../img/Lechona.png" alt="Lechona" class="producto6-img" />
            <div class="btn_compra">Ordenar Lechona</div>
          </div>
        </a>
      </section>
    </main>
  </body>
</html>
