<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/regionesGenerales.css" />
    <title>Italia</title>
  </head>
  <body>
    <main>
      <h1 class="Titulo_Italia">Region Italia</h1>
      <section class="mosaico">
        <a
          href="https://api.whatsapp.com/send?phone=+573172915538&text=Hola,%20me%20gustaria%20hacer%20un%20pedido%20de%20Pizza,%20su%20c%C3%B3digo%20es:%20PROD_PIZZA_07"
        >
          <div class="producto">
            <img src="../img/pizza.png" alt="" class="producto1-img" />
            <div class="btn_compra">Ordenar pizza</div>
          </div>
        </a>
        <a
          href="https://api.whatsapp.com/send?phone=+573172915538&text=Hola,%20me%20gustaria%20hacer%20un%20pedido%20de%20Pasta%20Bolo%C3%B1esa,%20su%20c%C3%B3digo%20es:%20PROD_PASTABOLO_08"
        >
          <div class="producto">
            <img src="../img/Boloñesa.png" alt="" class="producto2-img" />
            <div class="btn_compra">Ordenar pasta boloñesa</div>
          </div>
        </a>
        <a
          href="https://api.whatsapp.com/send?phone=+573172915538&text=Hola,%20me%20gustaria%20hacer%20un%20pedido%20de%20Raviole,%20su%20c%C3%B3digo%20es:%20PROD_RAVIOLE_09"
        >
          <div class="producto">
            <img src="../img/raviole.png" alt="" class="producto3-img" />
            <div class="btn_compra">Ordenar raviole</div>
          </div>
        </a>
        <a
          href="https://api.whatsapp.com/send?phone=+573172915538&text=Hola,%20me%20gustaria%20hacer%20un%20pedido%20de%20Lasa%C3%B1a,%20su%20c%C3%B3digo%20es:%20PROD_LASA%C3%91A_10"
        >
          <div class="producto">
            <img src="../img/lasaña.png" alt="" class="producto4-img" />
            <div class="btn_compra">Ordenar lasaña</div>
          </div>
        </a>
        <a
          href="https://api.whatsapp.com/send?phone=+573172915538&text=Hola,%20me%20gustaria%20hacer%20un%20pedido%20de%20Ensalada%20Caprese,%20su%20c%C3%B3digo%20es:%20PROD_CAPRESE_11"
        >
          <div class="producto">
            <img src="../img/caprese.png" alt="" class="producto5-img" />
            <div class="btn_compra">Ordenar ensalada caprese</div>
          </div>
        </a>
        <a
          href="https://api.whatsapp.com/send?phone=+573172915538&text=Hola,%20me%20gustaria%20hacer%20un%20pedido%20de%20Risotto,%20su%20c%C3%B3digo%20es:%20PROD_RISOTTO_12"
        >
          <div class="producto">
            <img src="../img/risotto.png" alt="" class="producto6-img" />
            <div class="btn_compra">Ordenar risotto</div>
          </div>
        </a>
      </section>
    </main>
  </body>
</html>
